:root {
  --primary: #8d99ae;
  --primary-light: #edf2f4;
  --primary-dark: #2b2d42;
  --background-color: #2b2d42;
  --background-secondary: #1a1b2e;
  --foreground-color: #edf2f4;
  --gray: #8d99ae;
  --gray-dark: #1a1b2e;
  --accent: #ef233c;

  --blue: #8d99ae;
  --blue-light: #edf2f4;
  --blue-dark: #2b2d42;
  --yellow: #8d99ae;
  --yellow-light: #edf2f4;
  --yellow-dark: #2b2d42;
}

.color-yellow {
  color: var(--yellow);
}

.color-yellow-light {
  color: var(--yellow-light);
}

.color-yellow-dark {
  color: var(--yellow-dark);
}

.color-background {
  color: var(--background-color);
}

.color-foreground {
  color: var(--foreground-color);
}

.color-gray {
  color: var(--gray);
}
