:root {
  --blue: #2eaccc;
  --blue-light: #3bd8ff;
  --blue-dark: #134d5c;
  --background-color: #110a03;
  --foreground-color: #fff;
  --gray: #929292;
  --gray-dark: #212121;

  --yellow: #FFD700;
  --yellow-light: #FFFACD;
  --yellow-dark: #836500;
}

.color-yellow {
  color: var(--yellow);
}

.color-yellow-light {
  color: var(--yellow-light);
}

.color-yellow-dark {
  color: var(--yellow-dark);
}

.color-background {
  color: var(--background-color);
}

.color-foreground {
  color: var(--foreground-color);
}

.color-gray {
  color: var(--gray);
}
